#heading{
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align:center;
    font-size: 75px;
}
.details{
    font-size: 40px;
    color: rgb(210, 245, 206);
}
.desc{
    font-size: 20px;
    color:rgb(253, 255, 116);
}
body{
    background:url("https://cdn.pixabay.com/photo/2016/10/29/09/21/abstract-1780139__340.png");
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  #viewBtn{
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
   
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgb(0, 192, 250);
    margin-left:10px;
    margin-top: 100px;
  }
  #viewBtn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #viewBtn:hover{
      background-color: rgb(67, 156, 184);
  }
  #viewBtn:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }